//output:../../views/topics/_reply_list.blade.php

.reply-list
  | @foreach ($replies as $index => $reply)
  .media(name!='reply{{ $reply->id }}', id!='reply{{ $reply->id }}')
    .avatar.pull-left
      a(href!="{{ route('users.show', [$reply->user_id]) }}")
        img.media-object.img-thumbnail(alt!='{{ $reply->user->name }}', src!='{{ $reply->user->avatar }}', style='width:48px;height:48px;')
    .infos
      .media-heading
        a(href!="{{ route('users.show', [$reply->user_id]) }}", title!='{{ $reply->user->name }}')
          | {{ $reply->user->name }}
        span  •  
        span.meta(title!='{{ $reply->created_at }}') {{ $reply->created_at->diffForHumans() }}
        | {{-- 回復刪除按鈕 --}}
        | @can('destroy', $reply)
        span.meta.pull-right
          form(action!="{{ route('replies.destroy', $reply->id) }}", method='post')
            | {{ csrf_field() }}
            | {{ method_field('DELETE') }}
            button.btn.btn-default.btn-xs.pull-left(type='submit')
              i.glyphicon.glyphicon-trash
        | @endcan
      .reply-content
        | {!! $reply->content !!}
  hr
  | @endforeach
