//output:../../views/topics/_sidebar.blade.php

.panel.panel-default
  .panel-body
    a.btn.btn-success.btn-block(href="{{ route('topics.create') }}", aria-label='Left Align')
      span.glyphicon.glyphicon-pencil(aria-hidden='true')
      | 新建帖子
