//output:../../views/topics/create_and_edit.blade.php

| @extends('layouts.app')
| @section('content')
.container
  .col-md-10.col-md-offset-1
    .panel.panel-default
      .panel-body
        h2.text-center
          i.glyphicon.glyphicon-edit
          | @if($topic->id)
          | 編輯話題
          | @else
          | 新建話題
          | @endif
        hr
        | @include('common.error')
        | @if($topic->id)
        form(action!="{{ route('topics.update', $topic->id) }}", method='POST', accept-charset='UTF-8')
          input(type='hidden', name='_method', value='PUT')
        | @else
        form(action="{{ route('topics.store') }}", method='POST', accept-charset='UTF-8')
          | @endif
          input(type='hidden', name='_token', value='{{ csrf_token() }}')
          .form-group
            input.form-control(type='text', name='title', value!="{{ old('title', $topic->title ) }}", placeholder='請填寫標題', required='')
          .form-group
            select.form-control(name='category_id', required='')
              option(value='', hidden='', disabled='', selected='') 請選擇分類
              | @foreach ($categories as $value)
              option(value!='{{ $value->id }}') {{ $value->name }}
              | @endforeach
          .form-group
            textarea#editor.form-control(name='body', rows='3', placeholder='請填入至少三字符的內容。', required='') {{ old('body', $topic->body ) }}
          .well.well-sm
            button.btn.btn-primary(type='submit')
              span.glyphicon.glyphicon-ok(aria-hidden='true')
              |  保存

| @endsection
