//output:../../views/topics/show.blade.php

| @extends('layouts.app')
| @section('title', $topic->title)
| @section('description', $topic->excerpt)
| @section('content')
.row
  .col-lg-3.col-md-3.hidden-sm.hidden-xs.author-info
    .panel.panel-default
      .panel-body
        .text-center
          | 作者：{{ $topic->user->name }}
        hr
        .media
          div(align='center')
            a(href!="{{ route('users.show', $topic->user->id) }}")
              img.thumbnail.img-responsive(src!='{{ $topic->user->avatar }}', width='300px', height='300px')
  .col-lg-9.col-md-9.col-sm-12.col-xs-12.topic-content
    .panel.panel-default
      .panel-body
        h1.text-center
          | {{ $topic->title }}
        .article-meta.text-center
          | {{ $topic->created_at->diffForHumans() }}
          | ⋅
          span.glyphicon.glyphicon-comment(aria-hidden='true')
          | {{ $topic->reply_count }}
        .topic-body
          | {!! $topic->body !!}
        @can('update', $topic)
        .operate
          hr
          a.btn.btn-default.btn-xs(href!="{{ route('topics.edit', $topic->id) }}", role='button')
            i.glyphicon.glyphicon-edit 編輯
          form(action!="{{ route('topics.destroy', $topic->id) }}", method='post')
            | {{ csrf_field() }}
            | {{ method_field('DELETE') }}
            button.btn.btn-default.btn-xs.pull-left(type='submit')
              i.glyphicon.glyphicon-trash 刪除
        @endcan
@stop
