//output:../../views/topics/show.blade.php

| @extends('layouts.app')
| @section('content')
.container
  .col-md-10.col-md-offset-1
    .panel.panel-default
      .panel-heading
        h1 Topic / Show #
          {{ $topic->id }}
        //- Topic / Show #{{ $topic->id }}
      .panel-body
        .well.well-sm
          .row
            .col-md-6
              a.btn.btn-link(href="{{ route('topics.index') }}")
                i.glyphicon.glyphicon-backward
                |  Back
            .col-md-6
              a.btn.btn-sm.btn-warning.pull-right(href!="{{ route('topics.edit', $topic->id) }}")
                i.glyphicon.glyphicon-edit
                |  Edit
        label Title
        p
          | {{ $topic->title }}
        label Body
        p
          | {{ $topic->body }}
        label User_id
        p
          | {{ $topic->user_id }}
        label Category_id
        p
          | {{ $topic->category_id }}
        label Reply_count
        p
          | {{ $topic->reply_count }}
        label View_count
        p
          | {{ $topic->view_count }}
        label Last_reply_user_id
        p
          | {{ $topic->last_reply_user_id }}
        label Order
        p
          | {{ $topic->order }}
        label Excerpt
        p
          | {{ $topic->excerpt }}
        label Slug
        p
          | {{ $topic->slug }}
| @endsection
