//output:../views/test.blade.php

@extends('layouts.app')
@section('title', $user->name . ' 的個人中心')
@section('content')
.row
  .col-lg-3.col-md-3.hidden-sm.hidden-xs.user-info
    .panel.panel-default
      .panel-body
        .media
          div(align='center')
            img.thumbnail.img-responsive(src!="{{ $user->avatar }}", width='300px', height='300px')
          .media-body
            hr
            h4
              strong 個人簡介
            p {{ $user->introduction }} 
            hr
            h4
              strong 註冊於
            p {{ $user->created_at->diffForHumans() }}
  .col-lg-9.col-md-9.col-sm-12.col-xs-12
    .panel.panel-default
      .panel-body
        span
          h1.panel-title.pull-left(style='font-size:30px;')
            {{ $user->name }} 
            small {{ $user->email }}
    hr
    {{-- 用戶發布的內容 --}}
    .panel.panel-default
      .panel-body
        ul.nav.nav-tabs
          li.active
            a(href='#') Ta 的話題
          li
            a(href='#') Ta 的回覆
        @include('users._topics', ['topics' => $user->topics()->recent()->paginate(5)])
@stop
